/* Simple count program Css */

/* #countLabel {
  display: block;
  text-align: center;
  font-size: 50px;
}

.countBtns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countBtn {
  margin: 5px;
  padding: 10px;
  font-size: 20px;
} */

.cardPayment {
  display: flex;
  margin-bottom: 2em;
  margin-top: 2em;
}

.cardPayment div {
  margin-left: 1em;
}

#myBtn {
  margin-left: 1em;
  padding: 1em;
}